* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
/* * {
  outline: 2px solid #d10823;
} */
body {
  width: 100%;
  height: auto;
  background-color: #d6acee;
}

/*components*/

.title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.game-wrapper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.game__box {
  margin: 0 auto;
}
.game-close-btn {
  width: 22px;
  height: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-left: auto;
  top: 10px;
  right: 10px;
  border: none;
}
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 300px;
  background-color: rgba(247, 246, 235, 0.781);
  border-radius: 8px;
}
.count {
  display: flex;
  justify-content: space-around;
}
.chooser {
  margin: 4px 0;
  border-radius: 8px;
}
.statistic {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 700px;
  padding: 12px 0;
}
.big-playground {
  width: 900px;
  max-width: 100%;
  height: auto;
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  /* background-image: url(../pics/33.jpg); */
  background-image: url(../pics/logo-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 150px;
}

.card-for-6x6 {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.turned {
  transform: rotateY(180deg);
}

.side {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

.front {
  transform: rotateY(180deg);
  border-radius: 8px;
}

.end-game-popup {
  background-color: #faf1fc;
  border: 1px solid #ddd;
  bottom: 0;
  box-shadow: 0 0 15px #ddd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  box-sizing: border-box;
  border-radius: 8px;
  height: 240px;
  left: 0;
  margin: auto;
  padding-top: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0px;
  width: 300px;
}

.game-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.final-text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.new-game-btn:hover {
  box-shadow: 0 0 8px #d3d3d3;
}

.new-game-btn:active {
  box-shadow: none;
}
@media screen and (max-width: 1920px) {
  .game-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .game-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    margin: 0 auto;
  }

  .playground {
    width: 600px;
    justify-content: center;
  }

  .big-playground {
    width: 700px;
  }

  .card {
    width: 125px;
    height: 125px;
  }

  .card-for-6x6 {
    width: 80px;
    height: 80px;
  }
  .card-for-8x8 {
    border-right: none;
    margin: 2px;
    height: 80px;
    width: 80px;
  }

  .end-game-popup {
    top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .playground {
    justify-content: center;
    margin: 0 auto;
  }

  .card {
    height: 120px;
    width: 120px;
    margin: 4px;
  }

  .card-for-6x6 {
    height: 90px;
    width: 90px;
  }

  .card-for-8x8 {
    border-right: none;
    margin: 2px;
    height: 90px;
    width: 90px;
  }
}
@media screen and (max-width: 512px) {
    .card {
    height: 120px;
    width: 120px;
    margin: 2px;
  }
}
@media screen and (max-width: 414px) {
  .playground {
    width: 100vw;
  }

  .card {
    height: 80px;
    width: 80px;
    margin: 2px;
  }

  .card-for-6x6 {
    height: 76px;
    width: 76px;
  }

  .card-for-6x6 .back {
    padding: 25% 0;
  }

  .card-for-8x8 {
    border-right: none;
    margin: 2px;
    height: 76px;
    width: 76px;
  }

  .card-for-8x8:nth-child(8n) {
    border-right: 1px solid #ddd;
  }
}

@media screen and (max-width: 380px) {
  .card-for-8x8 {
    border: 1px solid #ddd;
  }
}

@media screen and (max-width: 360px) {
  .card {
    height: 80px;
    margin: 2px;
    width: 80px;
  }

  .card-for-6x6 {
    height: 80px;
    width: 80px;
    margin: 2px;
  }

  .card-for-8x8 {
    height: 65px;
    width: 65px;
    border: 1px solid #ddd;
  }
}
