.modal__overlay {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: 0.1s ease;
}
.modal__container {
  background-color: #fff;
  padding: 16px;
  width: 700px;
  /* width: 100%; */
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
   font-family: 'Montserrat Alternates';
  font-size: 20px;
  box-sizing: border-box;
}
.modal__close {
  background: none;
  border: none;
}
.modal__content {
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.splide__pagination {
  display: none;
}
.splide__slide {
  /* height: 500px; */
  transition: 0.1s ease;
}
.splide__slide img {
  /* height: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.1s ease;
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.splide__arrow {
  background: none;
}
.splide__arrow svg {
  fill: #fff;
  width: 50px;
  height: 50px;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
