@media (max-width: 1280px) {
  .section__show {
    padding: 0 16px;
  }
  .section__services {
    padding: 0 16px;
  }
  .section__charity {
    padding: 0 16px;
  }
}

@media (max-width: 1080px) {
  .show-list {
    display: flex;
    justify-content: space-evenly;
  }
  .gallery-modal-btn {
    width: calc((100% - 3 * 10px) / 4);
  }
  .section__show {
    padding: 0 16px;
  }
  .section__services {
    padding: 0 16px;
  }
  .section__charity {
    padding: 0 16px;
  }
}
@media (max-width: 1050px) {
  .item {
    /* max-width: 230px;
    width: 100%;
    height: 82px; */
  }
}
@media (max-width: 998px) {
  .logo-img {
    width: 30px;
  }
  .header__nav {
    padding: 16px 22px;
  }
  .menu {
    gap: 14px;
  }
  .logo__text {
    font-size: 24px;
    width: 200px;
  }
  .greeting {
    margin-bottom: 30px;
  }
  .show-card {
    margin-top: 20px;
  }
  .item {
    flex-basis: calc((100% - 3 * 10px) / 4);
    height: 76px;
  }
  .services-link {
    font-weight: 600;
    font-size: 16px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 14px;
  }
  .footer-medias-list {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  .network {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .social-text {
    margin-bottom: 0;
  }
}
@media (max-width: 820px) {
  .header__nav {
    padding: 16px 26px;
    height: 50px;
  }
  .menu {
    display: none;
  }
  .logo__text {
    font-size: 24px;
  }
  .hamb {
    display: block;
    cursor: pointer;
  }
  .hamb.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu {
    display: inline-block;
    position: relative;
    top: 50px;
    z-index: 20;
    background-color: #fff;
    height: auto;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.05s ease;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .menu > .menu-nav {
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 40px;
  }
  .menu > .menu-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
  .menu.active {
    position: fixed;
    display: inline-block;
    flex-direction: column;
    width: 100%;
    opacity: 1;
    overflow: visible;
    right: 0px;
    z-index: 20;
    background-color: #f6f6f6;
    height: auto;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.5s ease;
    pointer-events: inherit;
  }
  .menu-nav {
    position: relative;
    min-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
  }
  .greeting {
    max-width: 446px;
  }
  .section__services {
    padding: 0 16px;
  }
  .section__services-list {
    justify-content: flex-start;
    gap: 10px 10px;
  }
  .item {
    flex-basis: calc((100% - 2 * 10px) / 3);
  }
  .section__charity {
    padding: 0 16px;
  }
  .gallery-modal-btn {
    width: calc((100% - 2 * 10px) / 3);
  }
}
@media (max-width: 768px) {
  .greeting {
    position: absolute;
    left: 28px;
    bottom: 20px;
    padding: 22px;
    max-width: 380px;
    margin-bottom: 28px;
  }
  .greeting h1 {
    font-size: 26px;
    line-height: 28px;
  }
  .greeting p {
    width: 348px;
    height: 64px;
    font-size: 20px;
    line-height: 24px;
  }
  .section__services {
    padding: 0 10px;
  }
  .item {
    height: 70px;
  }
  .section__charity {
    padding: 0 16px;
  }
  .footer__logo {
    display: flex;
    gap: 30px;
    width: 344px;
    margin-bottom: 20px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer .container {
    align-items: flex-start;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 14px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 18px;
  }
  .contact-item {
    font-size: 12px;
  }
  .contact-item a {
    font-size: 16px;
  }
  .contact-tel {
    padding-left: 18px;
  }
  .contact-email {
    padding-left: 36px;
  }
  .network {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .social-text {
    text-align: left;
    font-size: 10px;
    margin-bottom: 0;
  }
  .social-links {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
  }
  .footer-info__copyright-link {
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .title {
    line-height: 30px;
  }
  .services-link {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
  }
  .section__charity {
    padding: 0 16px;
  }
  .gallery-modal-btn {
    width: calc((100% - 1 * 10px) / 2);
  }
}
@media (max-width: 532px) {
  .section__show,
  .section__services {
    margin-bottom: 80px;
  }
  .show-card img {
    width: 340px;
  }
  .services-link {
    padding: 10px 8px;
  }
  .contact-item,
  .social-text {
    font-size: 12px;
  }
  .footer-info__copyright-link {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .hero {
    display: block;
    text-align: center;
  }
  .greeting {
    width: 100%;
    text-align: left;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 20px;
    gap: 8px;
    position: absolute;
    height: 201px;
    left: 0;
    right: auto;
    top: 559px;
    border-radius: 0px;
  }
  .greeting p {
    width: 340px;
    height: 72px;
  }
  .title {
    margin-top: 0px;
    margin-left: 20px;
  }
  .subtitle {
    font-weight: 400;
    padding-left: 20px;
  }
  .section__show {
    margin-top: 206px;
    padding-top: 30px;
  }
  .section__services-list {
    gap: 10px 10px;
  }
  .item {
    flex-basis: calc((100% - 1 * 10px) / 2);
    height: 60px;
  }
  .mod-title {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(22 / 20);
  }
  .footer-medias-list {
    gap: 6px;
  }
  .footer__container {
    padding-left: 20px;
  }
  .footer-info__copyright-link {
    padding-left: 20px;
  }
}
@media (max-width: 425px) {
  .section__charity {
    padding: 0 6px 0 16px;
  }
}
@media (max-width: 414px) {
  .header__nav {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hamb {
    margin: 0px;
  }
  .greeting p {
    width: 340px;
    height: 72px;
  }
  .greeting {
    padding-left: 16px;
  }
  .title {
    margin-left: 16px;
  }
  .subtitle {
    padding-left: 16px;
  }
  .mod-title {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(22 / 20);
  }
  .section__charity {
    padding: 0 10px;
  }
  .gallery-modal-btn {
    width: calc((100% - 1 * 10px) / 2);
  }
  .footer__container {
    padding-left: 16px;
  }
  .footer-info__copyright-link {
    padding-left: 16px;
  }
}
@media (max-width: 360px) {
  .header__nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .greeting {
    padding-left: 10px;
  }
  .title {
    margin-left: 10px;
  }
  .subtitle {
    padding-left: 10px;
  }
  .footer__container {
    padding-left: 10px;
  }
  .footer-medias-list {
    gap: 5px;
  }
  .footer-info__copyright-link {
    padding-left: 10px;
  }
}
